<ion-view title="Opgaver" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-if="assignments.length===0 && state!=='Loading'"><i>Ingen opgaver</i>
            </ion-item>
            <ion-item ng-repeat-start="date in dates" class="item-divider">{{date | date:'EEE. d. MMMM'}}</ion-item>
            <ion-item ng-repeat-end ng-repeat="assignment in assignments | sameDate:{varName:'startTime', date: date} | orderBy: 'startTime'" class="item item-timestamp-left">
                <span class="timestamp">
                    {{assignment.startTime | date:'HH:mm'}}<br>
                    {{assignment.endTime | date:'HH:mm'}}
                </span>
                {{'TASK_TYPES.' + assignment.type | translate}}
            </ion-item>
        </ion-list>

        <!--div class="list">
            <div ng-if="assignments.length === 0 && state!=='Loading'" class="item"><i>Ingen opgaver registreret</i></div>
            <div class="item item-divider" ng-repeat-start="date in dates">{{date | date:'EEE. d. MMMM'}}</div>
            <a class="item item-timestamp-left" ng-repeat-end ng-repeat="assignment in assignments | sameDate:{varName:'startTime', date: date} | orderBy: 'startTime'" href="#/menu/assignments/{{assignment.id}}">
                <span class="timestamp">
                    {{assignment.startTime | date:'HH:mm'}}<br>
                    {{assignment.endTime | date:'HH:mm'}}
                </span>
                {{'TASK_TYPES.' + assignment.type | translate}}
            </a>

        </div-->



    </ion-content>
</ion-view> 