<ion-view title="Gruppe 1">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive">Rediger</button>
    </ion-nav-buttons>
    
    <ion-content class="background-stable">
        <div class="list">
            <div class="item">
                Kristian Jensen
            </div>
            <div class="item">
                Sebastian Michelsen
            </div>
            <div class="item">
                Sidsel Michelsen
            </div>
            
        </div>
    </ion-content>
</ion-view>