<ion-view title="Grupper" hide-back-button="true">
    <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive">Rediger</button>
    </ion-nav-buttons>
    
    <ion-content class="background-stable">
        <div class="list card">
            <div class="item item-divider">
                Grupper
            </div>
            <a class="item" href="#/menu/groups/1">
                Gruppe 1
            </a>
            <a class="item">
                Gruppe 2
            </a>
            <a class="item">
                Gruppe 3
            </a>
            <a class="item">
                Gruppe 4
            </a>
            <a class="item">
                Gruppe 5
            </a>
            
        </div>
        
        <div class="list card">
            <div class="item item-divider">
                Forkyndere udenfor gruppe
            </div>
            <a class="item">
                Kristian Jensen
            </a>
            <a class="item">
                Sebastian Michelsen
            </a>
            <a class="item">
                Sidsel Michelsen
            </a>
            
        </div>
    </ion-content>
</ion-view>