<ion-view title="Person">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios7-upload-outline"></button>
    </ion-nav-buttons>
    <ion-content class="background-stable">
        <div class="list">
            <div class="item item-avatar" href="#">
                <img src="img/user.jpg">
                <h2>{{person.firstName}} {{person.lastName}}</h2>
            </div>
            <div class="item item-button-right" style="border-top: 0px">
                {{person.phone}}
                <a href="sms:{{person.phone}}" class="button button-clear button-positive" style="margin-right:35px">
                    <i class="icon ion-ios7-chatbubble-outline"></i>
                </a>
                <a href="tel:{{person.phone}}" class="button button-clear button-positive">
                    <i class="icon ion-ios7-telephone-outline"></i>
                </a>
            </div>

            <div class="item item-button-right">
                {{person.email}}
                <a href="mailto:{{person.email}}" class="button button-clear button-positive">
                    <i class="icon ion-ios7-email-outline"></i>
                </a>
            </div>
            <div class="item">
                Marie Curies Allé 68, 1. 3.,
                <p>9220 Aalborg Ø</p>
            </div>
        </div>




    </ion-content>
</ion-view>